#extra {background:#ffeeee;}
#experience {background:#ffeeee;}
#education{background:#ddeeff;}
#skills{background:#eeffdd;}
#references {background:#ddeeff;}
#home {background:#ffeeee;}

em {
	font-size:24px;
	font-style:normal;
	font-weight:bold;
	font-family:"Times New Roman", Times, serif;
}

#first, #second, #third {
	font-size:22px;
	font-family: 'Glass Antiqua', cursive;
	line-height:20px;
}

#first{
	margin-top:20px;
	margin-left:auto;
	padding:10px;
	border:2px solid black;
	text-align:center;
	background:white;
	
	-moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
	
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

#second {
	margin: 10% 10%;
	text-indent:40px;
	font-family:"Times New Roman", Times, serif;
	padding: 15px;
	line-height:25px;
}

#third {
	background:#EEEEEE;
	padding:10px;
	text-align:center;
	border:solid 1px #BBBBBB;
  	border-radius:5px;
  	box-shadow:0px 0px 15px #999;
	z-index:1;
	position:relative;
	font-size:18px;
}

.home-arrow-border {
	width: 0;
	height: 0;
	position:absolute;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #BBBBBB;
	left:-22px;	
	top:12px;
	z-index:1000;
}

.home-arrow {
	width: 0;
	height: 0;
	position:absolute;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #EEEEEE;
	left:-20px;
	top:11px;
	z-index:1001;
}

.header {
	background:#EEEEEE;
	color:black;
  	top: 0;
  	left: 0;
  	right: 0;
  	position: fixed;
	z-index:10; 
	 -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	padding:0px 10px 0px 10px;
}

h3 {
	font-family: 'Glass Antiqua', cursive;
	font-size: 32px;
	padding:10px;
	display:inline;
	margin:auto 10%;
	display:block;
	text-align:center;
}

.header h1 {
	font-family: 'Glass Antiqua', cursive;
	position:relative;
	margin: 15px auto;
	padding:0px 10px 0px 10px;
	font-size:42px;
	text-shadow:1px 1px 0 white;
	border-left:2px dashed black;
	border-right:2px dashed black;
}
.header .name {
    float: left;
	margin: 15px 30% 0px 30%;

}
.header h2 {
  font-family: 'Glass Antiqua', cursive;
  font-weight: normal;
  font-style: italic;
  color:#666;
  text-shadow:1px 1px 0 black;
  margin-left:40px;
}

.header dl {float:right; position:fixed; right:15px;}

dl dt {
  color: black;
}

dl dd {
    margin: 2px;
}		

ul {
	list-style-type:none;
}

.clear{clear:both;}

#education, #experience, #skills, #extra, #references, #home {
	padding: 50px;
	padding-top:40px;
	border-bottom:2px dashed black;
	border-left:2px dashed black;
	border-right:2px dashed black;
}


.hide {
    position: absolute;
    display: block;
    top: -9999em;
    left: -9999em;
}

#boras, #witt, #uppsala {
	width:400px;
	display:block;
	background:white;
	padding:10px;
	margin:2% auto;
	border:2px solid black;
	text-align:center;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	
	 -moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
}

#education h4{
	font-size:18px;
	text-align:center;
}

#nav {
	float:left;
	clear:both;
	height:20px;
	margin-left:22%;
	padding-bottom:5px;
	margin-bottom:0px;
}
#nav li {
	display:inline;
	padding:10px;
	font-family: 'Satisfy', cursive;
	font-size:18px;
}
a {
	color:black;
	text-decoration:none;
}
a:hover {
  	text-shadow:2px 2px 0 #ffffdd;
	color:black;
	text-decoration:none;
}
#content {
	margin: auto 15%;
	position:relative;
}

#pagewrap {
	overflow:auto;
	top:100px;
	position:absolute;
	bottom: 0px;
	right:0px;
	left:0px;
}

h4 {
	margin:10px 0px;
	display:block;
}
h5 {
	margin:0px;
	padding:0px;
	display:block;
}
h6{
	margin:0px;
	padding:0px;
	display:block;
}

#keystone, #wittenberg, #austria, #ludvika, #languages, #compskills {
	text-align:center;
	border:2px solid black;
	margin:10px 25%;
	padding:10px;
	background:white;
	
	-moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
	
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

#map_canvas{
	position:relative;
	margin: 20px auto;
	height:300px;
	width:500px;
	border:2px solid gray;
}

button {
	margin-left:0px;
	margin-top:5px;
}
li {
	font-size:16px;
}
small {
	font-size:10px;
}

#languages {
	padding-top:5px;
}
#languages h4, #compskills h4 {
	font-size:18px;
}

#librarything{
	margin:10px;
	display:block;
	float:left;
}
#extra ul {
	display:block;
	float:left;
	margin:10px;
}
#ravelry {
	display:block;
	float:left;
	margin:10px;
}

#contact{
  	display:none;
	position:relative;
	width:53px;
  	background-color: white;
  	border:solid 1px #BBBBBB;
  	border-radius:5px;
  	box-shadow:0px 0px 15px #999;
	margin-bottom:15px;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #FFF;
	position:absolute;
	left:10px;
	top:205px;
	z-index:1001;
}

.arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #BBBBBB;
	position:absolute;
	top:207px;
	left:10px;
	z-index:1000;
}

#contact_button {
	position:fixed;
	bottom:5px;
	left:5px;
	margin-left:10px;
}

img{
	height:70px;
	width:50px;
}

img:hover{
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);	
}

a img {
	height:32px;
	width:32px;
	float:left;
	clear:both;
	margin:5px 10px;
}