#extra {
		background:#ffeeee;
}
#experience {
	background:#ffeeee;
}

#education{
	background:#ddeeff;
}
#skills{
	background:#eeffdd;
}
#references {
	background:#ddeeff;
}

.header {
	background:#EEEEEE;
	color:black;
  	top: 0;
  	left: 0;
  	right: 0;
  	position: fixed;
	z-index:10; 
	 -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	padding:0px 10px 0px 10px;
}

h3 {
	font-family: 'Glass Antiqua', cursive;
	font-size: 32px;
	padding:10px;
	margin-bottom:150px;
	display:inline;
}

.header h1 {
	font-family: 'Glass Antiqua', cursive;
	position:relative;
	margin: 15px auto;
	padding:0px 10px 0px 10px;
	font-size:42px;
	text-shadow:1px 1px 0 white;
	border-left:2px dashed black;
	border-right:2px dashed black;
}
.header .name {
    float: left;
	margin: 15px 30% 25px 30%;

}
.header h2 {
  font-family: 'Glass Antiqua', cursive;
  font-weight: normal;
  font-style: italic;
  color:#666;
  text-shadow:1px 1px 0 black;
  margin-left:40px;
}

.header dl {float:right; position:fixed; right:15px;}

dl dt {
  color: black;
}

dl dd {
    margin: 2px;
}		

ul {
	list-style-type:none;
}

.clear{clear:both;}

#education, #experience, #skills, #extra, #references {
	padding: 50px;
	padding-top:40px;
	border-bottom:2px dashed black;
	border-left:2px dashed black;
	border-right:2px dashed black;
}


.hide {
    position: absolute;
    display: block;
    top: -9999em;
    left: -9999em;
}

#edcontent{float:right;margin-top:0px;}

#boras, #witt, #uppsala {
	width:300px;
	display:block;
	background:white;
	margin:20px;
	padding:10px;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	
	 -moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
}

#education h4{
	font-size:18px;
/*	margin-left:4px;*/
	text-align:center;
}

#nav {
	position:absolute;
	height:20px;
	top:80px;
	left:290px;
	padding-bottom:5px;
}
#nav li {
	display:inline;
	padding:10px;
	font-family: 'Satisfy', cursive;
	font-size:18px;
}
a {
	color:black;
	text-decoration:none;
}
a:hover {
  text-shadow:2px 2px 0 #ffffdd;
	color:black;
	text-decoration:none;
}
#content {
	margin: auto 15%;
	position:relative;
}

#pagewrap {
	overflow:auto;
	top:100px;
	position:absolute;
	bottom: 0px;
	right:0px;
	left:0px;
}

h4 {
	margin-bottom:10px;
	display:inline;
}
h5 {
	margin:0px;
	padding:0px;
	display:block;
}
h6{
	margin:0px;
	padding:0px;
	display:block;
}

#keystone, #wittenberg, #austria, #ludvika {
	text-align:center;
	border:2px solid black;
/*	display:inline;*/
	margin:10px 25%;
	padding:10px;
	
	-moz-border-radius: 20px;
	    -webkit-border-radius: 20px;
	    -khtml-border-radius: 20px;
	    border-radius: 20px;
	
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
}

#map_canvas{
	position:relative;
	margin: 20px auto;
	height:300px;
	width:500px;
	border:2px solid gray;
}

button {
	margin-left:0px;
	margin-top:5px;
}

#contact{
  	display:none;
	position:relative;
	width:53px;
  	background-color: white;
  	border:solid 1px #BBBBBB;
  	border-radius:5px;
  	box-shadow:0px 0px 15px #999;
	margin-bottom:15px;
}

.arrow {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #FFF;
	position:absolute;
	left:10px;
	top:205px;
	z-index:1001;
}

.arrow-border {
	width: 0;
	height: 0;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-top: 11px solid #BBBBBB;
	position:absolute;
	top:207px;
	left:10px;
	z-index:1000;
}

span #headline {
	display:inline;
}

#contact_button {
	position:fixed;
	bottom:5px;
	left:5px;
	margin-left:10px;
}

img{
	height:70px;
	width:50px;
}

img:hover{
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
	 box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);	
}

a img {
	height:32px;
	width:32px;
	float:left;
	clear:both;
	margin:5px 10px;
}